src/main/java/az/pkg/buildit/wsclient/PurchaseOrderWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.rentit.pkg.az/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.rentit.pkg.az/" name="PurchaseOrderWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.rentit.pkg.az/" schemaLocation="http://localhost:9001/services/az/pkg/rentit/webservice/PurchaseOrderWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createPurchaseOrder">
<part name="parameters" element="tns:createPurchaseOrder"></part>
</message>
<message name="createPurchaseOrderResponse">
<part name="parameters" element="tns:createPurchaseOrderResponse"></part>
</message>
<message name="getPurchaseOrderByID">
<part name="parameters" element="tns:getPurchaseOrderByID"></part>
</message>
<message name="getPurchaseOrderByIDResponse">
<part name="parameters" element="tns:getPurchaseOrderByIDResponse"></part>
</message>
<message name="cancelPurchaseOrderById">
<part name="parameters" element="tns:cancelPurchaseOrderById"></part>
</message>
<message name="cancelPurchaseOrderByIdResponse">
<part name="parameters" element="tns:cancelPurchaseOrderByIdResponse"></part>
</message>
<portType name="PurchaseOrderWS">
<operation name="createPurchaseOrder">
<input wsam:Action="http://webservice.rentit.pkg.az/PurchaseOrderWS/createPurchaseOrderRequest" message="tns:createPurchaseOrder"></input>
<output wsam:Action="http://webservice.rentit.pkg.az/PurchaseOrderWS/createPurchaseOrderResponse" message="tns:createPurchaseOrderResponse"></output>
</operation>
<operation name="getPurchaseOrderByID">
<input wsam:Action="http://webservice.rentit.pkg.az/PurchaseOrderWS/getPurchaseOrderByIDRequest" message="tns:getPurchaseOrderByID"></input>
<output wsam:Action="http://webservice.rentit.pkg.az/PurchaseOrderWS/getPurchaseOrderByIDResponse" message="tns:getPurchaseOrderByIDResponse"></output>
</operation>
<operation name="cancelPurchaseOrderById">
<input wsam:Action="http://webservice.rentit.pkg.az/PurchaseOrderWS/cancelPurchaseOrderByIdRequest" message="tns:cancelPurchaseOrderById"></input>
<output wsam:Action="http://webservice.rentit.pkg.az/PurchaseOrderWS/cancelPurchaseOrderByIdResponse" message="tns:cancelPurchaseOrderByIdResponse"></output>
</operation>
</portType>
<binding name="PurchaseOrderWSPortBinding" type="tns:PurchaseOrderWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createPurchaseOrder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPurchaseOrderByID">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cancelPurchaseOrderById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PurchaseOrderWSService">
<port name="PurchaseOrderWSPort" binding="tns:PurchaseOrderWSPortBinding">
<soap:address location="http://localhost:9001/services/az/pkg/rentit/webservice/PurchaseOrderWS"></soap:address>
</port>
</service>
</definitions>